<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SIMS_DB"
			 connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SIMS_DB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>


	<appSettings>
		<!-- Máy local / host (ngrok http 8890) -->
		<add key="WS_CHAT_HOST" value="127.0.0.1" />
		<add key="WS_CHAT_PORT" value="8890" />

		<!-- Máy khác qua ngrok HTTP tunnel  -->
		<!-- 
		<add key="WS_CHAT_URL" value="wss://manned-defense-subtext.ngrok-free.dev" />
		-->
	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>